<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MakeCode.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="MakeCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
  <MakeCode.Settings>
   <setting name="server" serializeAs="String">
    <value>127.0.0.1:18888</value>
   </setting>
  </MakeCode.Settings>
  <MakeCode.Properties.Settings>
   <setting name="txtServer_text" serializeAs="String">
    <value />
   </setting>
   <setting name="txtUsername_text" serializeAs="String">
    <value />
   </setting>
   <setting name="txtPassword_text" serializeAs="String">
    <value />
   </setting>
   <setting name="txtSolution_text" serializeAs="String">
    <value />
   </setting>
   <setting name="chkSolution_checked" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkIntegrated_Checked" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="chkMultiDB_checked" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkWebAdmin_checked" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkDownloadRes_checked" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="txtPort_text" serializeAs="String">
    <value>3306</value>
   </setting>
  </MakeCode.Properties.Settings>
	</userSettings>
</configuration>