<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<!-- This section contains the log4net configuration settings -->
	<log4net>
		
		<!-- remotor -->
		<appender name="remotor__rolling_file_appender" type="log4net.Appender.RollingFileAppender">
			<file value="d:\Ò¶ÏæÇÚ\logs\mc\rolling.txt" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="20" />
			<maximumFileSize value="1048576" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger (%property{log4net:HostName}) - %message%newline" />
			</layout>
		</appender>
		<logger name="remotor">
			<level value="DEBUG" />
			<appender-ref ref="remotor__rolling_file_appender" />
		</logger>

	</log4net>
</configuration>